{% extends 'base.html' %}
{% block title %}{{user.username}}{% endblock %}
{% block content %}


<h1 class="title pt-5 has-text-success">{{user.username}}</h1>
<div class="media">
    <div class="media-left">
        <img class="profile_pic" src="{{ user.profile.profile_pic.url }}" alt="{{ user.username }}">
    </div>
    <div class="media-content">
        <p>
            <strong class="title pt-3">{{user.first_name}} {{user.last_name}}</strong>
        </p>
        <p>{{user.profile.location}}</p>
        <p>{{user.profile.bio}}</p>
    </div>
</div>


<br>
<div class="detail__choreos mb-5">
    <h3 class="title is-3">Performances</h3>

    {% for piece in user.piece.all %}
        <div class="choreo">
            <span>{{forloop.counter}}</span>
            <span><b>{{piece.title}}</b></span>
            <span><a href="{{piece.vid}}" target="_blank"><i class="fa-brands fa-youtube"></i></a></span>
        </div>
    {% empty %}
        <article class="message">
            <div class="message-header">
                <p>No Vids Available</p>
            </div>
        </article>
    {% endfor %}
</div>

<h3 class="title is-3">Posts</h3>
<div class="gallery">
    {% for post in posts %}
    <div class="card">
        <div class="card-header">
            <div class="media card-header-title">
                <div class="media-left">
                    <figure class="image is-square is-32x32">
                        <img class="profile_pic is-centered is-rounded" src="../../media/{{post.user.profile.profile_pic}}" alt="">
                    </figure>
                </div>
                <div class="media-content">
                    <a href="/dancers/{{post.user.id}}">
                        <h3 class="title is-3 has-text-success">{{ post.user}}</h3>
                    </a>
                </div>
            </div>
        </div>
        <div class="card-content">
            <a href="{% url 'post_detail' post.pk %}">
                <h2 class="has-text-black">{{ post.title }}</h2>
                <p class="has-text-dark">{{ post.content }}</p> 
            </a>
        </div>
        <div class="card-footer">
            <p class="card-footer-item">{{ post.date_posted }}</p>
        </div>
    </div>
    {% empty %}
    <article class="message">
        <div class="message-header">
            <p>No Posts Available</p>
        </div>
    </article>
    {% endfor %}
</div>

{% endblock %}