{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<h1 class="title pt-5 has-text-success">Dancer App Home</h1>
    <div class="container">

        {% if user.is_authenticated %}
        <form class="mb-5" action="{% url 'post_create' %}" method="post">
            {% csrf_token %}
            <div class="field has-addons">
                <div class="control">
                    <input
                        class="input"
                        type="text"
                        name="title"
                        placeholder="Title"
                        required
                    />
                </div>
                <div class="control">
                    <input
                        class="input"
                        type="text"
                        name="content"
                        placeholder="Content"
                        required
                    />
                </div>
                <div class="control">
                    <input class="button is-primary" type="submit" value="Create Post" />
                </div>
            </div>
        </form>
        {% else %}
        <article class="message">
            <a href="{% url 'login' %}">
                <div class="message-header">
                    <p>Sign in to create a post</p>
                </div>
            </a>
        </article>
        {% endif %}

        <div class="gallery">
            {% for post in posts %}
            <div class="card">
                <div class="card-header">
                    <div class="media card-header-title">
                        <div class="media-left">
                            <figure class="image is-square is-32x32">
                                <img class="profile_pic is-centered is-rounded" src="../../media/{{post.user.profile.profile_pic}}" alt="">
                            </figure>
                        </div>
                        <div class="media-content">
                            <a href="/dancers/{{post.user.id}}">
                                <h3 class="title is-3 has-text-success">{{ post.user}}</h3>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-content">
                    <a href="{% url 'post_detail' post.pk %}">
                        <h2 class="has-text-black">{{ post.title }}</h2>
                        <p class="has-text-dark">{{ post.content }}</p> 
                    </a>
                </div>
                <div class="card-footer">
                    <p class="card-footer-item">{{ post.date_posted }}</p>
                </div>
            </div>
            {% empty %}
            <article class="message">
                <div class="message-header">
                    <p>No Posts Available</p>
                </div>
            </article>
            {% endfor %}
        </div>
    </div>

{% endblock %}