{% extends 'base.html' %}
{% block content %}
<h class="title is-3 has-text-success">Dancer App Home</h1>
    <div class="container">
        <form class="mb-5" action="{% url 'post_create' %}" method="post">
            {% csrf_token %}
            <div class="field has-addons">
                <div class="control">
                    <input
                        class="input"
                        type="text"
                        name="title"
                        placeholder="Title"
                        required
                    />
                </div>
                <div class="control">
                    <input
                        class="input"
                        type="text"
                        name="content"
                        placeholder="Content"
                        required
                    />
                </div>
                <div class="control">
                    <input class="button is-primary" type="submit" value="Create Post" />
                </div>
            </div>
        </form>
        {% for post in posts %}
            <div class="card">
                <div class="card-header">
                    <h3 class="card-header-title">{{ post.title }}</h3>
                </div>
                <div class="card-content">
                    <p>
                        <p class="title is-4 has-text-success">{{ post.user}}</p>
                        {{ post.content }}
                    </p> 
                </div>
                <div class="card-footer">
                    <p class="card-footer-item">{{ post.date_posted }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}