{% extends 'base.html' %}
{% block content %}
<h1>{{ user.username }}</h1>
<p>{{user.first_name}}</p>
<p>{{user.last_name}}</p>
<p>{{user.profile.bio}}</p>
<p>{{user.profile.location}}</p>
<!-- <p>{{user.profile.profile_pic}}</p> -->
<img class="profile_pic" src="{{ user.profile.profile_pic.url }}" alt="{{ user.username }}">

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %} 
    {{ u_form.as_p }}
    <p>-------</p>
    {{ p_form.as_p }}
    <input type="submit" class="btn" value="Update" />
    <input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}